Welcome to set and get!

<form action="/set">
  <label for="key">Key</label>
  <input type=text name='key' id="key">
  <label for="value">Value</label>
  <input type="text" name="value" id=value>
  <input type="submit" id='SubmitHash'>
</form>


<form action="/get">
  <button type='submit'>Get</button>
</form>